# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
!example.tfvars

# Terragrunt
.terragrunt-cache/

# Ansible
*.retry

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
